.taginput-container {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  /* overflow-y: hidden; */
  max-width: 60%;
  max-height: 30vh;
  /* max-width: 100%; */
  padding-left: 14px;
  border: 1px grey solid;
  border-radius: 5px;
  color: black;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  /* margin: auto; */
}

.taginput-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.taginput-container input {
  /* width: 60%; */
  /* min-width: 50%; */
  border: none;
  border-radius: 5px;
  padding: 14px;
  padding-left: 14px;
}

.tag-div {
  display: flex;
  align-items: center;
  margin: 7px 0;
  margin-right: 10px;
  padding: 0 10px;
  padding-right: 5px;
  border: 1px solid orange;
  border-radius: 5px;
  background-color: orange;
  white-space: nowrap;
  color: white;
}

.tag-div button {
  display: flex;
  padding: 6px;
  border: none;
  background-color: unset;
  cursor: pointer;
  color: white;
}
